
<link href="../static/css/cpu.css" rel="stylesheet" type="text/css" media="all" />
<div class="grid-container">
   <div class="grid-item">
    <div class="sc-gauge1" style="width:200px; height:200px; margin:200px auto; ">
        <span class="title1" style=" color:#fff">Core1 Usage</span>
        <div class="sc-background1" style="position:relative; height:100px; margin-bottom:10px; background-color:#fff; border-radius:150px 150px 0 0; overflow:hidden; text-align:center;">
          <div class="sc-percentage1" style=" position:absolute; top:100px; left:-200%; width:400%; height:400%; margin-left:100px; background-color:#00aeef; transform:rotate(36deg); transform-origin:top center;"></div>
          <div class="sc-mask1" style="position:absolute; top:20px; right:20px; left:20px; height:80px; background-color:#555888; border-radius:150px 150px 0 0 "></div>
          <span class="sc-value1" style="position:absolute; top:50%; left:0; width:100%; color:#fff; font-size:48px; font-weight:700">20%</span>
        </div>
        <span class="sc-min1" style="float:left; color:#fff">0</span>
        <span class="sc-max1" style="float:right; color:#fff">100%</span>
    </div>
   </div>
    <div class="grid-item">
        <div class="sc-gauge2" style="width:200px; height:200px; margin:200px auto; ">
            <span class="title2" style=" color:#fff">Core2 Usage </span>
            <div class="sc-background2" style="position:relative; height:100px; margin-bottom:10px; background-color:#fff; border-radius:150px 150px 0 0; overflow:hidden; text-align:center;">
              <div class="sc-percentage2" style=" position:absolute; top:100px; left:-200%; width:400%; height:400%; margin-left:100px; background-color:#00aeef; transform:rotate(36deg); transform-origin:top center;"></div>
              <div class="sc-mask2" style="position:absolute; top:20px; right:20px; left:20px; height:80px; background-color:#555888; border-radius:150px 150px 0 0 "></div>
              <span class="sc-value2" style="position:absolute; top:50%; left:0; width:100%; color:#fff; font-size:48px; font-weight:700">20%</span>
            </div>
            <span class="sc-min2" style="float:left; color:#fff">0</span>
            <span class="sc-max2" style="float:right; color:#fff">100%</span>
        </div>
    </div>
    <div class="grid-item">
        <div class="sc-gauge3" style="width:200px; height:200px; margin:200px auto; ">
            <span class="title3" style=" color:#fff">Core3 Usage</span>
            <div class="sc-background3" style="position:relative; height:100px; margin-bottom:10px; background-color:#fff; border-radius:150px 150px 0 0; overflow:hidden; text-align:center;">
              <div class="sc-percentage3" style=" position:absolute; top:100px; left:-200%; width:400%; height:400%; margin-left:100px; background-color:#00aeef; transform:rotate(36deg); transform-origin:top center;"></div>
              <div class="sc-mask3" style="position:absolute; top:20px; right:20px; left:20px; height:80px; background-color:#555888; border-radius:150px 150px 0 0 "></div>
              <span class="sc-value3" style="position:absolute; top:50%; left:0; width:100%; color:#fff; font-size:48px; font-weight:700">20%</span>
            </div>
            <span class="sc-min3" style="float:left; color:#fff">0</span>
            <span class="sc-max3" style="float:right; color:#fff">100%</span>
        </div>
    </div>
    <div class="grid-item">
        <div class="sc-gauge4" style="width:200px; height:200px; margin:200px auto; ">
            <span class="title4" style=" color:#fff">Core4 Usage </span>
            <div class="sc-background4" style="position:relative; height:100px; margin-bottom:10px; background-color:#fff; border-radius:150px 150px 0 0; overflow:hidden; text-align:center;">
              <div class="sc-percentage4" style=" position:absolute; top:100px; left:-200%; width:400%; height:400%; margin-left:100px; background-color:#00aeef; transform:rotate(36deg); transform-origin:top center;"></div>
              <div class="sc-mask4" style="position:absolute; top:20px; right:20px; left:20px; height:80px; background-color:#555888; border-radius:150px 150px 0 0 "></div>
              <span class="sc-value4" style="position:absolute; top:50%; left:0; width:100%; color:#fff; font-size:48px; font-weight:700">20%</span>
            </div>
            <span class="sc-min4" style="float:left; color:#fff">0</span>
            <span class="sc-max4" style="float:right; color:#fff">100%</span>
        </div>
    </div>
</div>