<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/css/cpu.css" rel="stylesheet" type="text/css" media="all" />
    <title>Remote Gaming Server User Logs page</title>
</head>
<body>
    <header>
        <nav>
            <div class="row">
                <ul class="main-nav">
                    <li style="margin-left: 0;"><a href="{{ url_for('Logout') }}">Logout</a></li>
                    <li style="margin-left: 0;"><a href="{{ url_for('userpage') }}">User page</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="header">
        <h1 style="color:white; text-align:center;"><img src="../static/images/5.jpg" alt=" "> Remote Gaming Server User Logs page <img src="../static/images/5.jpg"></h1>
    </div>
    <div class="ex1" >text goes here</div>
    <div class="footer">
        <p style="font-size:20px; color: #fff; font-family:'Audiowide-Regular'; letter-spacing:3px; margin:1px; text-align: center;"> 2020 Neil Morrison Gaming Server</p>
    </div>

    <style>
         div.ex1 {
          background-color: #fff29b;
             opacity: 5;
          width: 40%;
          height: 30%;
          overflow: auto;
            padding: 15px;
            margin: auto;

        }
    </style>
</body>