<!DOCTYPE html>

<html lang="en">

<head>

     <meta charset="UTF-8">

    <title>Administration Page</title>

    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>

<div class="padding-all">

    <div class="header">

        <h1><img src="../static/images/5.jpg" alt=" "> Gaming Server Administration page <img src="../static/images/5.jpg"></h1>

    </div>
     <form action="server" method="post">
     <div  class="buttonOn">
    <button type="button" id="button1">Turn on Server</button><button type="button" id="button2"  >Turn off Server</button><button type="button" id="button3"  >List of Users</button>
     </div>
 </form>
    <div class="design">

        </div>

        <div class="register">
            <form action="admin" method="post">
                 <h1><button class="Add1">Add User</button> hello</h1>
            </form>
        </div>
    </div>
    <div class="footer">

        <p>©2020 Neil Morrison Gaming Server</p>
    </div>
</div>
</body>
</html>
