<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>Gaming Server</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="padding-all">
    <div class="header">
        <h1><img src="../static/images/5.jpg" alt=" "> Gaming Server Downloads <img src="../static/images/5.jpg"></h1>
    </div>

  </div>
<p>Click on the Windows logo to download the Streaming interface:<p>
    <p>Click on the Android logo to download the Streaming App:<p>

<a href="/home/pi/WebServer/registerServer/Gui.txt" download="GamingGui">
  <img src="../static/images/windows.gif" alt="GamingGui" width="104" height="142">
</a>
<a href="/home/pi/WebServer/registerServer/App.txt" download="GamingApp">
  <img src="../static/images/giphy4.gif" alt="GamingApp" width="104" height="142">
</a>

<p>Notice that the filename of the downloaded file will be saved as "w3logo.jpg" instead of "myw3schoolsimage.jpg".</p>

<p><b>Note:</b> The download attribute is not supported in Edge version 12, IE, Safari 10 (and earlier), or Opera version 12 (and earlier).</p>
</body>
</html>