<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Administration Page</title>
  <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <style>
.dotred {
  height: 15px;
  width: 15px;
  background-color: #FF0000;
  border-radius: 50%;
  display: inline-block;
}
.dotgreen {
  height: 15px;
  width: 15px;
  background-color: #00FF7F;
  border-radius: 50%;
  display: inline-block;
}
</style>
</head>
<body>
    <center style="font-size:50px;">Registered User Table</center>
    <table>
      <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>Password</th>
        <th>Email</th>
        <th>ip Address</th>
        <th>Active</th>
      </tr>
        <td>Peter</td>
    </table>
<div class="mail-form-agile" style="
    margin-top: 80px;
">
            <form action="BackAdmin" method="post">
                <input type="submit" value="Return to Admin Page">
            </form>
        </div>
</body>
</html>
