<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="padding-all">
    <div class="header">
        <h1><img src="../static/images/5.jpg" alt=" "> User Already Exits <img src="../static/images/5.jpg"></h1>
    </div>
    <div class="design">


        </div>
        <div class="mail-form-agile">
            <form action="userExists" method="post">
                <input type="submit" value="Return to Register page">
            </form>
        </div>
        <div class="clear"> </div>
    </div>
    <div class="footer">
        <p>©2020 Neil Morrison Gaming Server</p>
    </div>
</div>
</body>
</html>